/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 98%;
    overflow: hidden;
    max-width: 900px;
    border-radius: 5px;
    background: #000;
    aspect-ratio: 16 / 9;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container.fullscreen{
    max-width: 100%;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
}

/*
.wrapper{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 10;
    bottom: -15px;
    transition: all 0.08s ease;
}

.wrapper::before{
    content: "";
    bottom: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: calc(100% + 35px);
    pointer-events: none;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.video-timeline{
    height: 7px;
    width: 100%;
    cursor: pointer;
}
*/