@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --red: red;
  --black: black;
  --white: white;
  --box-shadow: 0 0.5rem 1.5rem;
}

* {
  font-family: "Nuito" sans-serif;
  text-decoration: none;
  transition: transform 1s linear;
}

html {
  font-size: 62.5%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  z-index: 10000;
  padding: 1rem 7%;
  align-items: center;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--red);
  font-weight: bolder;
  font-size: 2.5rem;
}

header .logo i {
  color: var(--red);
}

header nav a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--white);
}

header nav a:hover {
  color: #fff;
  background-color: var(--red);
  text-decoration: underline;
}

header nav a:active {
  color: var(--red);
  background-color: var(--white);
  text-decoration: underline;
}

header .icons i {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: var(--red);
}

header .icons i:hover {
  background-color: #fff;
  color: var(--red);
  transform: rotate(360);
}

header .icons #menu-bars {
  display: none;
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--black);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background-color: var(--red);
  }

  header .navbar a:hover {
    background-color: #fff;
    color: var(--red);
    text-decoration: none;
  }
}
